"*":
  "atom-autocomplete-php": {}
  "atom-color-highlight":
    hideMarkersInComments: true
    hideMarkersInStrings: true
  "bug-report":
    tokenPath: "/Users/dominic/.atom/.bug-report.token"
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "autoflow"
      "autosave"
      "background-tips"
      "exception-reporting"
      "feedback"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-ruby-on-rails"
      "language-toml"
      "package-generator"
      "styleguide"
      "language-yaml"
      "autocomplete"
      "language-c"
      "language-clojure"
      "welcome"
      "tree-view-breadcrumb"
    ]
  "custom-title":
    template: "<% if (relativeFilePath) { %><%= relativeFilePath %><% } else { %><%= fileName %><% } %><% if (gitAdded || gitDeleted) { %> [<% if (gitAdded) { %>+<%= gitAdded %><% } %><% if (gitAdded && gitDeleted) { %>/<% } %><% if (gitDeleted) { %>-<%= gitDeleted %><% } %>] <% } %><% if (projectName) { %> - <%= projectName %><% if (gitHead) { %>/<%= gitHead %><% } %><% } %> - Atom <%= atom.getVersion() %><% if (devMode) { %> [DEV]<% } else if (safeMode) {%> [SAFE]<% } %>"
  docblockr:
    extend_double_slash: false
  editor:
    fontFamily: "Consolas"
    fontSize: 15
    invisibles:
      eol: "¶"
    lineHeight: 1.4
    showInvisibles: true
    softTabs: false
    tabLength: 4
    useShadowDOM: true
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "grammar-token-limit":
    maxTokensPerLine: 250
  jumpy:
    useHomingBeaconEffectOnJumps: false
  linter:
    lintOnChangeInterval: 1500
    showErrorInline: true
  "linter-jshint": {}
  "linter-php":
    phpExecutablePath: "/usr/local/bin"
  minimap:
    charHeight: 3
    charWidth: 2
    minimapScrollIndicator: false
    plugins:
      "find-and-replace": true
      "git-diff": true
      selection: true
    textOpacity: 0.8
  "pdf-view": {}
  "spell-check":
    grammars: [
      "source.php"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.basic"
      "source.css"
    ]
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 10
".coffee.source":
  editor:
    tabLength: 2
".litcoffee.source":
  editor:
    tabLength: 2
