"*":
  "atom-autocomplete-php":
    binComposer: "C:\\Program Files\\PHP\\5.6.30\\composer.phar"
    binPhp: "C:\\Program Files\\PHP\\5.6.30\\php"
    insertNewlinesForUseStatements: true
  "atom-color-highlight":
    hideMarkersInComments: true
    hideMarkersInStrings: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
  "bug-report":
    tokenPath: "/Users/dominic/.atom/.bug-report.token"
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "autoflow"
      "autosave"
      "background-tips"
      "exception-reporting"
      "feedback"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-ruby-on-rails"
      "language-toml"
      "package-generator"
      "styleguide"
      "autocomplete"
      "language-c"
      "language-clojure"
      "welcome"
      "custom-title"
      "pigments"
      "linter-php"
      "linter"
      "linter-ui-default"
      "linter-shellcheck"
      "linter-sass-lint"
      "linter-less"
      "linter-jshint"
      "linter-csslint"
      "linter-coffeelint"
    ]
    excludeVcsIgnoredPaths: false
  "custom-title":
    template: "<% if (relativeFilePath) { %><%= relativeFilePath %><% } else { %><%= fileName %><% } %><% if (gitAdded || gitDeleted) { %> [<% if (gitAdded) { %>+<%= gitAdded %><% } %><% if (gitAdded && gitDeleted) { %>/<% } %><% if (gitDeleted) { %>-<%= gitDeleted %><% } %>] <% } %><% if (projectName) { %> - <%= projectName %><% if (gitHead) { %>/<%= gitHead %><% } %><% } %> - Atom <%= atom.getVersion() %><% if (devMode) { %> [DEV]<% } else if (safeMode) {%> [SAFE]<% } %>"
  docblockr:
    extend_double_slash: false
  editor:
    fontFamily: "Consolas"
    fontSize: 15
    invisibles:
      eol: "¶"
    lineHeight: 1.4
    showInvisibles: true
    softTabs: false
    tabLength: 4
    useShadowDOM: true
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "grammar-token-limit":
    maxTokensPerLine: 250
  "ide-php":
    phpPath: "C:\\Program Files\\PHP\\7.1.6"
  jumpy:
    useHomingBeaconEffectOnJumps: false
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter:
    lintOnChangeInterval: 1500
  "linter-jshint": {}
  "linter-php":
    executablePath: "C:\\Program Files\\PHP\\7.1.6\\php"
    phpExecutablePath: "C:\\Program Files\\PHP\\7.1.6\\php"
  "linter-sass-lint": {}
  "linter-ui-default":
    panelHeight: 196
  minimap:
    charHeight: 3
    charWidth: 2
    minimapScrollIndicator: false
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      pigments: false
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
    textOpacity: 0.8
  "pdf-view": {}
  "php-cs-fixer":
    executablePath: "C:\\Users\\10-5\\AppData\\Roaming\\Composer\\vendor\\friendsofphp\\php-cs-fixer\\php-cs-fixer"
    executeOnSave: true
    fixerArguments: [
      "--using-cache=no"
      "--no-interaction"
      "--allow-risky=yes"
    ]
    phpExecutablePath: "C:\\Program Files\\PHP\\5.6.30\\php"
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "spell-check":
    grammars: [
      "source.php"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.basic"
      "source.css"
    ]
  tabs: {}
  tester:
    testStateStyle: "Icon"
  "tester-phpunit":
    phpBinaryPath: "C:\\Program Files\\PHP\\5.6.30\\php"
    phpunitBinaryPath: "C:\\Program Files\\PHP\\5.6.30\\phpunit.phar"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 10
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".coffee.source":
  editor:
    tabLength: 2
".litcoffee.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
