'packages': [
  'ask-stack'
  'atom-color-highlight'
  'autocomplete-plus'
  'autocomplete-snippets'
  'bug-report'
  'color-picker'
  'custom-title'
  'dash'
  'docblockr'
  'emmet'
  'enhanced-package-list'
  'error-status'
  'eval-selection'
  'gulp-helper'
  'jumpy'
  'language-apache'
  'language-blade'
  'language-css-plus'
  'linter'
  'linter-coffeelint'
  'linter-csslint'
  'linter-jshint'
  'linter-php'
  'linter-shellcheck'
  'minimap'
  'minimap-find-and-replace'
  'minimap-git-diff'
  'open-recent'
  'package-sync'
  'pdf-view'
  'red-wavy-underline'
  'show-in-system'
  'slash-closer'
  'task-list'
  'themed-settings'
  'toggle-quotes'
  'tree-view-breadcrumb'
  'tree-view-open-files'
  'white-cursor'
  'zentabs'
]
