'packages': [
  'color-picker'
  'dash'
  'docblockr'
  'ease-blink'
  'emmet'
  'enhanced-package-list'
  'eval-selection'
  'gulp-helper'
  'hash-n'
  'jumpy'
  'language-apache'
  'language-blade'
  'language-css-plus'
  'linter'
  'linter-coffeelint'
  'linter-csslint'
  'linter-jshint'
  'linter-php'
  'linter-shellcheck'
  'minimap'
  'open-recent'
  'package-sync'
  'red-wavy-underline'
  'show-in-system'
  'slash-closer'
  'themed-settings'
  'toggle-quotes'
  'white-cursor'
  'zentabs'
]
