'packages': [
  'angularjs'
  'atom-color-highlight'
  'color-picker'
  'command-logger'
  'copy-config-info'
  'dash'
  'docblockr'
  'emmet'
  'git-blame'
  'hash-n'
  'language-css-plus'
  'language-javascript-semantic'
  'language-laravel-blade'
  'linter'
  'linter-coffeelint'
  'linter-csslint'
  'linter-jscs'
  'linter-jshint'
  'linter-php'
  'linter-shellcheck'
  'merge-conflicts'
  'minimap'
  'minimap-color-highlight'
  'monokai'
  'package-sync'
  'project-manager'
  'regex-railroad-diagram'
  'repls'
  'rest-client'
  'scope-inspector'
  'show-in-system'
  'slash-closer'
  'solarized-dark-custom-syntax'
  'sort-lines'
  'Tern'
  'white-cursor'
  'zentabs'
]
