/*
* Your Stylesheet
*
* This stylesheet is loaded when Atom starts up and is reloaded automatically
* when it is changed.
*
* If you are unfamiliar with LESS, you can read more about it here:
* http://www.lesscss.org
*/

@import 'styles-icons';
@import 'ui-variables';
@import 'syntax-variables';

@warning-color: rgb(218, 165, 32);
@error-color: rgb(178, 34, 34);

@-webkit-keyframes jumpy-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
html, body, .workspace {
	font-family: "Helvetica Neue";
}

body.platform-win32, .platform-win32 .workspace {
	font-family: "Segoe UI";
}

.tree-view {
	font-size: 12px;
}

.tab-bar {
	.tab .title {
		text-align: left;
	}
}


atom-text-editor.editor {
	.syntax--php.syntax--class.syntax--punctuation {
		color: @syntax-text-color;
	}

	.gutter {
		.foldable .icon-right {
			visibility: visible;
		}
	}
	.gutter-container {
		margin-right: 2px;
	}
	.cursor-line {
		background-color: fadeout(lighten(@background-color-highlight, 10%), 50%);
	}

	.highlights {
		.region {
			border-radius: 4px;
			box-sizing: border-box;
			background: fadeout(white, 90%);
		}

		.find-result, .current-result {
			.region {
				background: fadeout(lighten(@syntax-background-color, 10%), 50%);
			}
		}
		.current-result {
			.region {
				box-shadow: 0 0 10px 4px lighten(@syntax-background-color, 10%);
				border-color: fadeout(lighten(@syntax-background-color, 90%), 50%);
			}
		}
		.highlight.linter-error {
			.region {
				position: absolute;
				border: 1px solid fadeout(@error-color, 25%);
				box-shadow: none;
				background: fadeout(@error-color, 70%);
				-webkit-mask: none;
			}
		}

		.highlight.linter-warning {
			.region {
				position: absolute;
				border: 1px solid fadeout(@warning-color, 25%);
				box-shadow: none;
				background: fadeout(@warning-color, 70%);
				-webkit-mask: none;
			}
		}
		.highlight.bracket-matcher {
			opacity: 1;
			.region {
				border: 1px solid fadeout(white, 25%);
				background: fadeout(white, 75%);
			}
		}

		.highlight.spell-check-misspelling {
			.region {
				background: fadeout(@error-color, 70%);
				border: 1px dotted fadeout(@error-color, 25%);
				border-width: 0 0 2px 0;
			}
		}
	}

	atom-color-highlight {
		color-marker {
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

			.region {
				border-radius: 4px;
				margin-left: -2px;
				&::before {
					background-image: url(atom://assets/transparent-background.png);
				}
			}
		}
	}

	.trailing-whitespace {
		color: @error-color;
		font-weight: bold;
		background: fadeout(@error-color, 75%);
	}

	.jumpy {
		&.label {
			box-shadow: 0 0 4px black;
			padding: 2px;
			background: fadeout(@input-background-color, 25%);
			color: white;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			height: 14px;
			text-align: center;
			font-family: "Consolas";
			font-weight: normal;
		}
		&.jump {
			-webkit-animation: jumpy-fadein 0.5s;
		}
	}

	.indent-guide-improved {
		display: none !important;
		+ .indent-guide-improved {
			display: block !important;
			background: fadeout(#839496, 90%);

			&.indent-guide-stack {
				background: fadeout(#839496, 60%);
			}

			&.indent-guide-active {
				background: fadeout(#839496, 40%);
				width: 2px;
			}
		}
	}

	.fold-marker::after {
		font-size: 20px;
		position: relative;
		top: 2px;
	}
	.fold-marker:hover::after {
		color: lighten(#839496, 50%);
		cursor: pointer;
	}

}

.minimap {
	box-shadow: 0 -1px 3px fadeout(black, 50%);
}

.theme-one-dark-ui {
	.tab-bar {
		height: 3em;
		.tab {
			line-height: 3em;
			padding-left: 5px;
			.close-icon {
				top: 0.75em;
			}
			&.modified:not(:hover) .close-icon::before {
				top: 0.2em;
			}
		}
	}
}

.status-bar .linter-status-count > a {
	margin-right: 6px;
}

atom-text-editor .comment-clickable .region {
	display: none;
}
